server:
  port: 8080

spring:
  application:
    name: lightning-meet-be
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/lightning_meet?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: lightning-group
      auto-offset-reset: earliest
logging:
  level:
    root: INFO
    com.example.lightning_meet_be: DEBUG
  file:
    name: logs/app.log
  pattern:
    console: "%d{HH:mm:ss.SSS} [%level] %logger{36} - %msg%n"

jwt:
  secret: "3712bc3158a95b43487ffbc519c59a62a77542452305fddec85a6ea2abfa2a6a6ef1f3b7cce84c615fcbbd576439f929b01e419563582ae0641669726edcfd6e"
  access-exp: 3600000      # 1h (ms)
  refresh-exp: 1209600000  # 14d (ms)